{% extends 'base.html' %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block content %}
      <div class="row">
          <div class="col-lg-6">
              <h1>{{post.title}}</h1> by {{post.author.username}}
              <h3>{{post.postdate}}</h3>
              {% include 'mainapp/snippet_tag_labels.html' with tags=post.tags.all %}            
          </div><!-- /.col-lg-6 -->
      </div>         
      <div class="row">
        <div class="col-lg-6">
          {{post.body}}
        </div><!-- /.col-lg-6 -->
      </div>         
{% endblock %}}